<div class="container">

    <h1 class="title"> O que é NPM ? </h1>

    <p> 
        NPM, Node Package Manager ou Gerenciador de Pacotes/Modulos Node. Como o próprio nome já diz, ele gerencia pacotes/modulos nodes e o que esses 
        pacotes/modulos são ? Eles são códigos escritos por outras pessoas que você pode utilizar na sua aplicação node, até a aplicação que você está 
        escrevendo pode ser um modulo que outra pessoa vai utilizar no futuro. Essa é uma das grandes Vantagens do Node, a possibillidade de utilizar milhares
        de pacotes já prontos no desenvolvimento da minha aplicação, acelerando o desenvolvimento consideravelmente dela e das próximas, pois a aplicação 
        de agora pode ser um modulo para a próxima aplicação.
    </p>

    <p>
        Não é necessário instalar NPM, ele já vem instalador com o Node JS.
    </p>

    <p>
        Mais para a frente falarei mais de NPM, mostrando como instalar pacotes/modulos e etc...
    </p>
    <p>
        Também irei mostrar como fazer uma aplicação para twittar através do Promp/Gitbash/VisualStudioCode usando um modulo Node chamado Twit.
    </p>


</div>