<div class="container">
    <h1 class="title"> Twitter </h1>

    <p>
        Para criar o projeto do semestre de Medição de Temperatura e Umidade, é necessário usarmos Node/SQLServer/HTML/CSS e muitos devem está tendo dificuldades por
        não terem conhecimento sobre essas ferramentas. Eu sou estudante como vocês, mas já tenho conheciment prévio em Programação e posso ajudá-los a começar a criar
        o projeto. Por isso criei esse site usando Node para explicar como Node funciona com um aplicação bem simples(<a href="/Twitter/Parte1">Parte1</a>) e como criar um site usando node usando aquela 
        aplicação simples(<a href="/Twitter/Parte2">Parte2</a>). Essa parte que ensinei por enquanto, é útil para entender como funciona, mas não é exatamente
        como vai ser no projeto, por isso é necessário criar algo realmente parecido com o que vamos criar no usando Node(<a href="/Twitter/Parte3">Parte3</a>).
    </p>

    <h1 class="title2"> Twitter Parte 1 </h1>

    <p> Utilizo um módulo Node(chamado <a target="_blank" href="https://www.npmjs.com/package/twit">Twit</a>) para mostrar o básico de node e mostrar como twitta
    pela linha de comando(podendo ser Promp/Git Bash/Visual Studio Code). </p>

    <h1 class="title2"> Twitter Parte 2 </h1>

    <p> Utilizo o mesmo módulo anterior e <a target="_blank" href="https://www.npmjs.com/package/express">express</a> para criar um site que utilizo para twitta, no processo
    de desenvolvimento explico como funciona um site em express e como funciona os pedidos e respostas que fazemos para qualquer site.</p>

    <h1 class="title2"> Twitter Parte 3 </h1>

    <p> 
        Utilizo express, vários outros módulos e como banco de dados SQLServer para você poder desenvolver o seu próprio Twitter e com os conhecimentos adquiridos,
        conseguir desenvolver o projeto do semestre.
    </p>
</div>